@using ClothesShop.BU.Common
@model  List<ClothesShop.BU.DTO.ChiTietDonHangDTO>
@{
    ViewBag.Title = "Chi tiết đơn hàng";
}

<div class="module">
    <div class="module-head">
        <h3>
            Chi tiết đơn hàng @Model[0].MaDon
        </h3>
    </div>
    <div class="module-body table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="table table-striped">
                <thead>
                    <tr style="font-weight:bold">
                        <th>Mã sản phẩm</th>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Size</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ctsp in Model)
                    {
                        <tr>
                            <td>@ctsp.MaSanPham</td>
                            <td><img src="@ctsp.HinhAnh" alt="Alternate Text" /></td>
                            <td>@ctsp.TenSanPham</td>
                            <td>@ctsp.TenSize</td>
                            <td>@ctsp.SoLuong</td>
                            <td>@ctsp.Gia</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>