@using ClothesShop.BU.Common
@model ClothesShop.BU.DTO.DonHangDTO
@{
    ViewBag.Title = "Chi tiết đơn hàng";
}

<div class="module">
    <div class="module-head">
        <h3>
            Chi tiết đơn hàng @Model.MaDon
        </h3>
    </div>
    <div class="module-body table">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
            <table class="table table-striped">
                <thead>
                    <tr style="font-weight:bold">
                        <th>Mã tài khoản</th>
                        <th>Họ tên</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Điạ chỉ</th>
                        <th>Ghi chú</th>
                        <th>Tổng tiền</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.MaTaiKhoan</td>
                        <td>@Model.HoTenNN</td>
                        <td>@Model.DienThoaiNN</td>
                        <td>@Model.EmailNN</td>
                        <td>@Model.DiaChiNN</td>
                        <td>@Model.GhiChu</td>
                        <td>@Model.TongTien</td>
                        <td>@Model.NgayTao.Value.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (Model.TrangThai == (int)EnumCommon.StatusCart.DoiGiaoHang)
                            {
                                <span>Đợi giao hàng</span>
                            }
                            else if (Model.TrangThai == (int)EnumCommon.StatusCart.HoanThanh)
                            {
                                <span>Hoàn thành</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>